
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@font-face {
    font-family: 'CenturyG';
    src: url(midia/CenturyGothic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 300px;
    width: auto;
    margin: auto;
}

.logo {
    display: inline;
    font-family: 'CenturyG', sans-serif;
    font-weight:lighter;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
}

.menu {
    font-family: 'CenturyG', sans-serif;
    font-weight:lighter;
    columns: 2;
    list-style: none;
    width: 400px;
}

